NODE_ENV=production
APP_PORT=3001
APP_NAME="Node Tank"
API_PREFIX=api
APP_FALLBACK_LANGUAGE=en
FRONTEND_DOMAIN=http://localhost:3001
BACKEND_DOMAIN=http://localhost:3001

# Database Orm config
DATABASE_TYPE=postgres
DATABASE_HOST=0.0.0.0
DATABASE_PORT=5432
DATABASE_SYNCHRONIZE=true
DATABASE_MAX_CONNECTIONS=100
DATABASE_SSL_ENABLED=false
DATABASE_REJECT_UNAUTHORIZED=false
DATABASE_CA=
DATABASE_KEY=
DATABASE_CERT=

# Postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123456
POSTGRES_DB=postgres

# Metabase 
MB_DB_DBNAME=postgres
MB_DB_USER=postgres
MB_DB_PASS=123456

# Local
FILE_DRIVER=local
ACCESS_KEY_ID=
SECRET_ACCESS_KEY=

MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_USER=
MAIL_PASSWORD=
MAIL_IGNORE_TLS=true
MAIL_SECURE=false
MAIL_REQUIRE_TLS=false
MAIL_DEFAULT_EMAIL=noreply@example.com
MAIL_DEFAULT_NAME=Api
MAIL_CLIENT_PORT=1080

AUTH_JWT_SECRET=secret
AUTH_JWT_TOKEN_EXPIRES_IN=1d

WORKER_HOST=redis://0.0.0.0:6379/1
